# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:<get-from-convex> # team: your name, project: your project's name

EXPO_PUBLIC_CONVEX_URL=<get-from-convex>

EXPO_PUBLIC_CONVEX_SITE_URL=<get-from-convex>